In [4]:
import pandas as pd

In [6]:
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
series = pd.Series(data,index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [8]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['c0','c1','c2'], index = ['r0','r1','r2'])

In [10]:
print(df)

    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   7   8   9